@import 'tailwindcss';
@theme {
  --bg-light: theme(colors.slate.100);
  --bg-dark: theme(colors.slate.800);

  --text-light: theme(colors.slate.700);
  --text-dark: theme(colors.slate.100);

  --hover-bg-light: theme(colors.slate.200);
  --hover-bg-dark: theme(colors.slate.700);
}

@utility d-flex {
  @apply flex justify-center items-center;
}
